<%= this.partial({url: 'templates/header.ejs'}) %>
<%= this.partial({url: 'templates/sidebar.ejs'}) %>

<div class="medium-9 large-10 columns content party-view">
	<div class="row">
		<div class="small-12 columns">
				<h3>Erakonnad (<%= parties.length %>)</h3>
				<ul class="top-list">
					<% for(var key in parties){%>
						<a href="party/<%= parties[key].id %>">
							<li>
								<span class="name"><%= parties[key].name %></span>
							</li>
						</a>
					<% } %>
				</ul>
				<h3>Isikud (<%= persons.length %>)</h3>
				<ul class="top-list">
					<% for(var key in persons){%>
						<a href="person/<%= persons[key].id %>">
							<li>
								<span class="name"><%= persons[key].first_name %> <%= persons[key].last_name %></span>
							</li>
						</a>
					<% } %>
				</ul>
				<h3>Ettevõtted (<%= companies.length %>)</h3>
				<ul class="top-list">
					<% for(var key in companies){%>
						<a href="company/<%= companies[key].id %>">
							<li>
								<span class="name"><%= companies[key].name %></span>
							</li>
						</a>
					<% } %>
				</ul>
		</div>
	</div>
</div>