<%= this.partial({url: 'templates/header.ejs'}) %>
<%= this.partial({url: 'templates/sidebar.ejs'}) %>

<div class="medium-9 large-10 columns content">
	<div class="row">
		<div class="small-12 columns">
			<h2 class="page-title">Hangete võitjad</h2>

			<ul class="top-list" id="topProcWinners">
				<% for(var key in procurements){%>
					<a href="company/<%= procurements[key].company_id %>">
						<li><span class="name">
							<%= procurements[key].provider_name %></span>
							<span class="amount"><%= parseInt(procurements[key].total_amount) %> <span class="currency">€</span></span>
						</li>
					</a>
				<% } %>
				<div class="load-more topProcurements">Näita Rohkem</div>
			</ul>

		</div>
	</div>
</div>
